.contact__section {
  background: black;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 2rem;

  .card {
    border-radius: 0.9375rem;
    border: 1px solid #182533;
    background: #0d1921;
    backdrop-filter: blur(4px);
  }

  .booking-section {
    margin-bottom: 3rem;
  }

  @media only screen and (max-width: 768px) {
    min-height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .booking-section {
      margin-bottom: 2rem;
    }
  }
}
