.contact__me__section {
  padding-bottom: 80px;
  padding-top: 80px;
  background-image: url("/assets/footer.png");
  background-repeat: no-repeat;
  background-position: center top, center bottom;

  .contact__footer {
    padding-top: 240px;
  }
}
