@import "../../styles/base/variables";
@import "../../styles/base/mixins";

.project-card {
  position: relative;
  overflow: hidden;

  .project__header {
    .project__image {
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
      padding: 0 1rem;
      height: 300px;
      object-fit: cover;
      object-position: top;
      width: 100%;
    }
  }

  .card-body {
    padding: 0 10px;

    .project__details {
      position: relative;
      border-radius: 0rem 0rem 1rem 1rem;
      background: $bg-card;
      padding: 0 0.6rem;
      transition: transform $transition-normal;

      h4 {
        font-size: 20px;
        color: #fff;
        
        @include mobile {
          font-size: 14px;
        }
      }

      p {
        font-size: 12px;
        color: $gray-secondary;
      }
    }
  }

  .view__card {
    width: 100%;
    margin-top: 1rem;
  }
}
